.header .top {
    background: #282b91;
}

.header .bottom {
    width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    line-height: 100px;
}

.header .inner h1 {
    width: 173px;
    height: 70px;
    font-size: 0;
}

.header .top ul {
    display: flex;
    gap: 30px;
}

.header .bottom ul {
    display: flex;
    gap: 50px;
}

.header .container {
    display: flex;
    width: 1400px;
    margin: 0 auto;
    justify-content: space-between;
    line-height: 30px;
    font-size: 14px;
    color: #fff;
}

.header .bottom .purchase a {
    display: inline;
    background: #f9661e;
    border-radius: 3px;
    padding: 10px;
    color: #fff;
}





.main_slide .itm {
    position: relative;
    height: 700px;
}

.main_slide .itm strong {
    position: absolute;
    top: 220px;
    left: 250px;
    background: #1c1f6b;
    padding: 10px;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    text-shadow: 1px 1px 5px #000;
}

.main_slide .itm p {
    position: absolute;
    top: 280px;
    left: 250px;
    color: #fff;
    font-size: 70px;
    font-weight: 700;
    text-shadow: 1px 1px 5px #000;
}

.main_slide .itm a {
    position: absolute;
    top: 400px;
    left: 250px;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    padding: 10px 15px;
    background: #f9661e;
}

.main_slide .slick-arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    cursor: pointer;

    background: none;
    border: none;
    font-size: 0;

    width: 100px;
    height: 100px;

    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);

}

.mainVisual .main_slide .slick-prev {
    transform: translate(-50%, -50%) rotate(-45deg);
    margin: 0 0 0 -800px;
}

.mainVisual .main_slide .slick-next {
    transform: translate(-50%, -50%) rotate(135deg);
    margin: 0 0 0 800px;
}

.main_slide .slick-dots {
    position: absolute;
    bottom: 120px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
}

.main_slide .slick-dots>li {
    display: inline-block;
    width: 13px;
    height: 13px;
    background: #fff;
    border-radius: 50%;
    margin: 0 0 0 15px;
}

.main_slide .slick-dots>li.slick-active {
    background: #1c1f6b;
}

.main_slide .slick-dots>li button {
    display: none;
}



.mainQuick {
    width: 1400px;
    margin: 0 auto;
    padding: 0 0 50px 0;
}

.mainQuick .quick_list {
    position: absolute;
    bottom: 80px;
    left: 400px;
}

.mainQuick .quick_list ul {
    display: flex;
    gap: 30px;

}

.mainQuick .quick_list ul li {
    position: relative;
    flex: 1 1 33.333333333%;

    background: #fff;
    border: 1px solid #888;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 15%);
}

.mainQuick .quick_list ul li:hover {
    background: #f8f8f8;
}

.mainQuick .quick_list ul li a {
    display: flex;
    padding: 20px 40px 20px 30px;
    align-items: center;
}

.mainQuick .quick_list ul li a .last {
    position: absolute;
    display: inline-block;
    right: 15px;
    color: #f9661e;
}

.mainQuick .quick_list ul li a .last path {
    fill: currentColor;
}

.mainQuick .quick_list ul li .txt {
    margin: 0 0 0 20px;
}

.mainQuick .quick_list ul li .txt strong {
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 10px 0;
}

.mainQuick .quick_list ul li .txt p {
    font-size: 15px;
}

.dec {
    font-size: 20px;
    font-weight: 700;
    padding: 50px 0 100px 0;
    line-height: 30px;
}

.dec ul {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.dec .tit {
    margin: 0 0 20px 0;
}

.dec .tit>li {
    position: relative;
}

.dec .tit>li::before {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    height: 5px;
    z-index: -1;
    background: rgba(249, 102, 3, 0.8);
}

.mainEvent {
    background: #f9f9f9;
}

.mainEvent .inner {
    width: 1400px;
    margin: 0 auto;
    padding: 100px 0;

    display: flex;
    gap: 20px;
}

.mainEvent .inner .itm {
    position: relative;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 15%);
}

.mainEvent .inner .itm .txt {
    padding: 0 0 0 10px;
}

.mainEvent .inner .itm .label {
    position: absolute;
    top: 0;
    right: 0;

    font-size: 14px;
    font-weight: 300;
    background: #1c1f6b;
    color: #fff;
    padding: 10px;
}

.mainEvent .inner .itm img {
    width: 100%;
    height: 270px;
}

.mainEvent .inner .itm strong {
    font-size: 30px;
    font-weight: 700;
    line-height: 60px;
}

.mainEvent .inner .itm p {
    margin: 5px 0 70px 0;
    font-size: 15px;
    line-height: 20px;
}

.mainEvent .inner .itm a {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;

    background: #f9661e;
    color: #fff;
    text-align: center;
}

.mainAnimal {
    position: relative;
}

.mainAnimal .inner {
    width: 1400px;
    margin: 0 auto;
    padding: 80px 0 100px 0;
}

.mainAnimal .inner h2 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 30px 0;
}

.mainAnimal .inner h2 span {
    color: #282b91;
    text-transform: uppercase;
}


.mainAnimal .animal_slide img {
    height: 500px;
    margin: 0 20px;
}

.mainAnimal .ani_arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 30px;
    cursor: pointer;
}

.mainAnimal .ani_arrow i:first-child {
    position: absolute;
    left: -415px;
    background: #1c1f6b;
    border-radius: 50%;
    color: #fff;
}


.mainAnimal .ani_arrow i:last-child {
    position: absolute;
    right: -415px;
    background: #1c1f6b;
    border-radius: 50%;
    color: #fff;
}

.mainInfo {
    background: #f9f9f9;
}

.mainInfo .inner {
    width: 1400px;
    margin: 0 auto;
    padding: 80px 0 100px 0;
}

.mainInfo .inner h2 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 30px 0;
}

.mainInfo .inner h2 span {
    color: #282b91;
    text-transform: uppercase;
}

.mainInfo .info_gide {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.mainInfo .info_gide img {
    width: 460px;
    height: 500px;
}

.mainInfo .info_gide .case {
    position: relative;
    overflow: hidden;
}

.mainInfo .info_gide .case .txt {
    position: absolute;
    top: 400px;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 100%;

    padding: 20px 20px;
    transition: 0.5s;
}

.mainInfo .info_gide .case p {
    margin: 0 0 10px 0;
    font-size: 30px;
    font-weight: 500;
}

.mainInfo .info_gide .case span {
    font-size: 15px;
    font-weight: 300;
    color: #666;
}

.mainInfo .info_gide figure:hover .txt {
    top: 500px;
    cursor: pointer;
}

.mainInfo .info_gide figure {
    position: relative;
    overflow: hidden;
}

.mainInfo .info_gide figure .over {
    position: absolute;
    top: 500px;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 10px 26px 40px;
    background-color: rgba(255, 255, 255, 0.8);

    transition: 0.5s;
}

.mainInfo .info_gide figure:hover .over {
    top: 220px;
    cursor: pointer;
}

.mainInfo .info_gide .over p {
    font-size: 16px;
    display: block;
    padding: 10px 0 25px;
    line-height: 28px;
}

.mainInfo .info_gide .over a {
    font-size: 15px;
    background: #1c1f6b;
    color: #fff;
    padding: 10px;
}


.mainReview {
    position: relative;
    width: 1400px;
    margin: 0 auto;
    padding: 50px 0;
}

.mainReview .inner {
    display: flex;
    gap: 200px;
}

.mainReview .inner .left h3 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 30px 0;
    line-height: 40px;
}

.mainReview .inner .left i {
    font-size: 13px;
}

.mainReview .review_slide {
    width: 900px;
    margin: 20px 0 0 0;
}

.mainReview .review_slide .itm {
    height: 100px;
    padding: 20px 30px;
    background: #f5f5f5;
    border-radius: 30px;
    margin: 0 10px;

}

.mainReview .review_slide .itm span {
    display: block;
    font-size: 12px;
    font-weight: 300;
    color: #666;
    margin: 0 0 10px 0;
}

.mainReview .review_slide .itm p {
    line-height: 15px;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.mainReview .review_arrow {
    position: absolute;
    top: 45%;
    right: 35%;

    font-size: 30px;
    cursor: pointer;
}

.mainReview .review_arrow i:first-child {
    position: absolute;
    left: -650px;
}


.mainReview .review_arrow i:last-child {
    position: absolute;
    right: -380px;
}

.footer {
    background: #1c1f6b;
    color: #999;
    padding: 50px 0;
}

.footer .inner {
    width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer .inner ul {
    display: flex;
}

.footer .inner .left span {
    display: block;
    font-size: 13px;
    margin: 0 0 20px 0;
}

.footer .inner .left ul li {
    font-size: 13px;
    line-height: 20px;
}

.footer .inner .left ul li~li::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    background: #888;
    margin: 0 10px;
    vertical-align: middle
}